<!--The content below is only a placeholder and can be replaced.-->
<div class="col-sm-6">
  <mat-form-field>
    <mat-select (selectionChange)="placeChange($event.value)" [(value)]="place">
     
      <mat-option value="UK">UK</mat-option>
      <mat-option value="England">England</mat-option>
      <mat-option value="Scotland">Scotland</mat-option>
      <mat-option value="Wales">Wales</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  
  


  <div class="col-sm-6">
  <mat-form-field>
    <mat-select (selectionChange)="metricsChange($event.value)" [(value)]="metrics">
      
      <mat-option value="Tmax">Max Temperature</mat-option>
      <mat-option value="Tmin">Min Temperature</mat-option>
      <mat-option value="Rainfall">Rainfall</mat-option>
    </mat-select>
  </mat-form-field>
  </div>


  <div>
  <mat-form-field>
    <input matInput [matDatepicker]="dp1" placeholder="Month and Year" [formControl]="date1">
    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
    <mat-datepicker #dp1
                    startView="multi-year"
                    (yearSelected)="chosenYearHandler1($event)"
                    (monthSelected)="chosenMonthHandler1($event, dp1)"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>
</div>

<div>
  <mat-form-field>
    <input matInput [matDatepicker]="dp2" placeholder="Month and Year" [formControl]="date2">
    <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
    <mat-datepicker #dp2
                    startView="multi-year"
                    (yearSelected)="chosenYearHandler2($event)"
                    (monthSelected)="chosenMonthHandler2($event, dp2)"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>
</div>


<div [chart]="chart"></div>

<router-outlet></router-outlet>
